#SAMLLog .title {
    margin-bottom: 30px!important;
}

#SAMLLog .anchor {
    padding-top: 70px; 
    margin-top: -70px;
    color: unset;
    text-decoration: none;
}

#SAMLLog .main {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

#SAMLLog .btn {
    margin: 5px!important; 
}

#SAMLLog .tools {
    padding: 30px 20px;
    background: #FFFFFF;
}

#SAMLLog .align-super {
    vertical-align: super;
}

@media print {
    #SAMLLog .tools {
        display: none!important;
    }
}
